.gradle/**
/gradle/**
/out/**
build/**
.idea/**
/*/build/**
/*/classes
/classes
/gameserver/out/**
/matchmaker/out/
gameserver/build/
gameserver/out/production/classes/bomber/GameServerApplication.class
gameserver/out/production/classes/bomber/connectionhandler/
gameserver/out/production/classes/bomber/games/
gameserver/out/test/


/gradle/
